<a href="https://colab.research.google.com/github/chTharun/Python-full-stack-development/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_set=set()
my_set.update([9,12])
my_set.update((3,5))
my_set.update("SIKANDAR")
print(my_set)

{3, 5, 'S', 'D', 9, 12, 'A', 'R', 'N', 'K', 'I'}

In [2]:
my_set=set("apple")
print('a'in my_set)
print('p' not in my_set)

True
False

In [3]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print('union      =',A|B)
print('intersection            =',A&B)
print('difference    =',A-B)
print('symmetric Diff  =',A^B)

union      = {1, 2, 3, 4, 5, 6, 7, 8}
intersection            = {4, 5}
difference    = {1, 2, 3}
symmetric Diff  = {1, 2, 3, 6, 7, 8}

In [5]:
studentlist={'danish','nags','aisha','aabid','inshall','mubeen','lachhu'}
placedlist=["inshall","nags","aisha"]
notplacedstudlist=set(studentlist)-set(placedlist)
print("students yet to get job \n",notplacedstudlist)

students yet to get job
 {'mubeen', 'lachhu', 'aabid', 'danish'}

In [7]:
numbers={1,2,3,4,5,6,7,8,9,10}
odd={1,3,5,7,9}
even={2,4,6,8,10}
print(odd.isdisjoint(even))
print(numbers.issuperset(odd))
print(odd.issuperset(numbers))
print(odd.issubset(numbers))

True
True
False
True